extends layout

block content
  div(class="container")
    h1= title
    h2 Welcome to #{title}
    p This web app is a place where I experiment with Node and some other web technologies.
    button(class='button' id="Click me") Click me
    button(class='button' id="toSecondPage") Go to second page
    button(class='button' id="toMap") Go to map
    button(class='button' id="toVisual" onclick='window.location.href="grid"') Go to pathfinding algorithm visualistaion
  script(src="/javascripts/index.js")
