extends layout

block content
  div(class='container')
    h1 Second page 
    p This page is the first page I added to the project after the home page.
    p Below is a basic css animation.
    div(class='animatedDiv')